@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

body {
    background-color: #1b1b1b;
    color: white;
}

.navbar {
    padding: 10px;
    background-color: #32302f;
}

.navbar-brand, .navbar-brand:hover { 
    color: white;
}